*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right,#8caefe, #E4EfE9, rgb(122, 169, 255));
}
.app{
    font-family: sans-serif;
    width: min(95vw, 31.25em);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 3.125em;
}
.container{
    padding: 2em 2.5em;
    background-color: rgb(110, 148, 252);
    box-shadow: 0px 0px 40px 10px rgb(115, 115, 115) ;
    border-radius: 12px;
}
.wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 1em;
}
.wrapper input{
    width: 100%;
    background-color: transparent;
    color: black;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid rgb(158 229 255);
    padding: 1em 0.5em;
}
.wrapper input:focus{
    outline: none;
    border-color: rgb(7, 0, 198);
}
.wrapper button{
    position: relative;
    border-radius: 0.7em;
    font-weight: 500;
    font-size: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #a3ccff;
}
#tasks{
    margin-top: 1.5em;
    border-radius: 0.5em;
    width: 100%;
    position: relative;
    padding: 1em 0.5em;
}
.task{
    background-color: white;
    padding: 0.8em 1em;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 2fr;
    gap: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgb(0, 0, 0, 0.05);
    align-items: center;
    cursor: pointer;
}
.task:not(:first-child){
    margin-top: 1em;
}
.task input[type="checkbox"]{
    position: relative;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid rgb(182, 182, 182);
}
.task input[type="checkbox"]:before{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.task input[type="checkbox"]:checked{
    background-color: rgb(67, 67, 255);
    border-color: rgb(69, 69, 255);
}
.task input[type="checkbox"]:checked:before{
    position: absolute;
    color: white;
    font-size: 0.8em;
    font-weight: 900;
}
.task span{
    font: 0.9em;
    font-weight: 400;
    word-break: break-all;
}
.edit{
    background-color: rgb(69, 69, 255);
}
.delete{
    background-color: rgb(255, 65, 65);
}
#pending-tasks span{
    color: rgb(233 255 13);
}
.completed{
    text-decoration: line-through;
    color: #a0a0a0;
}
.task button{
    color: white;
    width: 100%;
    padding: 1em 0;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    outline: none;
}
#error{
    text-align: center;
    background-color: white;
    color: rgb(255, 65, 65);
    margin-top: 1.5em;
    padding: 1em 0;
    border-radius: 0.7em;
    display: none;
}